@charset "UTF-8";
/* Reset and base styles  */
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Raleway:wght@400;700&family=Roboto:wght@300&display=swap");
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box; /*включає в себе внутрішні падінги теж тому container маємо добавити до 1100px ще padding-left-right 15?njve 1140px*/
}

/* Links */
a, a:link, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

/*font-family: 'Playfair Display', serif;
font-family: 'Raleway', sans-serif;             
font-family: 'Roboto', sans-serif;*/
body {
  font-family: "Playfair Display", serif;
  background-color: #242b33;
  color: #fff;
  font-size: 16px;
  padding: 0 15px; /*ліво-право*/
}

a {
  color: #fff;
  transition: color 0.2s ease-in;
}
a:hover {
  color: #d4c17f;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1140px;
}

.text-right {
  text-align: right;
}

.text-left {
  margin-left: 24px;
}

.visually-hidden {
  /* Contain text within 1px box */
  height: 1px;
  overflow: hidden;
  width: 1px;
  /* Keep the layout */
  position: absolute;
  /* Remove any visible trace (e.g. background color) */
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%); /* browsers in the future */
  /* Prevent the screen reader to skip spaces between words */
  white-space: nowrap;
}

.none {
  display: none !important;
}

.title-2 {
  font-family: "Playfair Display", serif;
  font-size: 36px;
  color: #d4c17f;
  margin-bottom: 88px;
}
@media screen and (max-width: 999px) {
  .title-2 {
    font-size: 28px;
    margin-bottom: 44px;
  }
}

.link-bold {
  font-weight: 700;
  color: #d4c17f;
}

.no-scroll {
  overflow: hidden;
}

.header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 30px;
  padding-bottom: 74px;
  min-height: 840px;
  background: linear-gradient(180deg, #242b33 11.98%, rgba(45, 52, 60, 0.38) 51.04%, #242b33 92.19%), url("./../../img/header/bg-header.jpg");
}
@media screen and (max-width: 999px) {
  .header {
    min-height: unset;
    row-gap: 50px;
  }
}

.nav {
  color: #fff;
  font-family: Raleway;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.7px;
}

.header__top-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 999px) {
  .header__nav {
    display: none;
  }
}

.header__nav-btn {
  display: none;
}
@media screen and (max-width: 999px) {
  .header__nav-btn {
    display: block;
  }
}

.header__title {
  position: relative;
  padding-bottom: 121px;
  font-family: "Playfair Display", serif;
  color: #d4c17f;
  text-align: center;
  font-size: 48px;
  color: #d4c17f;
}
@media screen and (max-width: 999px) {
  .header__title {
    font-size: 32px;
    padding-bottom: 100px;
  }
}

.header__title-icon {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%, 0%);
}

.header__bottom {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}
@media screen and (max-width: 999px) {
  .header__bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 30px;
  }
}

.header__top-row--mobile {
  position: fixed;
  background-color: black;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 99;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  row-gap: 50px;
  padding-top: 40px;
  padding-bottom: 40px;
}
.header__top-row--mobile .header__nav {
  display: block;
}
.header__top-row--mobile .nav-list {
  flex-direction: column;
  align-items: center;
  row-gap: 30px;
}
.header__top-row--mobile .header__nav-btn {
  position: fixed;
  top: 50px;
  right: 15px;
}

@media screen and (max-width: 999px) {
  .header__nav {
    display: none;
  }
}

.nav {
  font-size: 14px;
  letter-spacing: 0.05em;
}

.nav-list {
  display: flex;
  -moz-column-gap: 40px;
       column-gap: 40px;
}

.info {
  position: relative;
  color: #fff;
  text-align: center;
  font-size: 18px;
  font-family: "Raleway", sans-serif;
}
.info--map, .info--tel {
  padding-left: 35px;
}
.info--map::before, .info--tel::before {
  content: "";
  position: absolute;
  left: 0px;
  top: 50%;
  width: 21px;
  height: 21px;
  background-repeat: no-repeat;
  background-position: center;
  transform: translate(0%, -50%);
}
.info--map::before {
  background-image: url("../../img/header/placeholder.svg");
}
.info--tel::before {
  background-image: url("../../img/header/phone-call.svg");
}
@media screen and (max-width: 999px) {
  .info {
    font-size: 14px;
  }
  .info--tel {
    padding-left: 26px;
  }
}

.benefits {
  padding: 120px;
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;
}
.benefits::after {
  content: "II";
  left: calc(50% + 710px);
  transform: translate(-50%, 0%);
  line-height: 1.15;
  position: absolute;
  top: 0;
  opacity: 0.02;
  font-size: 400px;
  font-family: "Playfair Display", serif;
  z-index: -1;
}
@media screen and (max-width: 470px) and (max-width: 470px) {
  .benefits {
    padding: 20px;
  }
}

.icon_row {
  display: flex;
  justify-content: center;
  gap: 124px;
}
@media screen and (max-width: 999px) {
  .icon_row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    padding: 0 100px;
  }
}
@media screen and (max-width: 505px) {
  .icon_row {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (max-width: 470px) and (max-width: 470px) {
  .icon_row {
    padding: 40px;
  }
}

.icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 180px;
  width: 193px;
}
@media screen and (max-width: 1190px) {
  .icon {
    height: 120px;
    width: 143px;
  }
}

.icon img {
  width: 80px;
  height: 80px;
}
@media screen and (max-width: 999px) {
  .icon img {
    width: 70px;
    height: 70px;
  }
}
@media screen and (max-width: 505px) {
  .icon img {
    width: 80px;
    height: 80px;
  }
}

.icon h1 {
  margin-top: 53px;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  width: 193px;
  text-align: center;
}

.appartments {
  position: relative;
}
.appartments::before {
  content: "III";
  right: calc(50% + 110px);
  transform: translate(-50%, 0%);
  line-height: 1;
  position: absolute;
  top: 0;
  opacity: 0.02;
  font-size: 400px;
  font-family: "Playfair Display", serif;
  z-index: -1;
}

.apartments__cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-columns: repeat(auto-fitm minmax 290px);
  gap: 30px;
}
@media screen and (max-width: 999px) {
  .apartments__cards {
    grid-template-columns: repeat(auto-fitm minmax 290px);
  }
}
@media screen and (max-width: 505px) {
  .apartments__cards {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.card {
  overflow: hidden;
  position: relative;
  display: inline-block;
  color: #fff;
}
.card::before {
  z-index: 6;
  position: absolute;
  content: "";
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(36, 43, 51, 0) 0%, #242b33 100%);
}
.card::after {
  z-index: 7;
  opacity: 0;
  content: "";
  position: absolute;
  left: 15px;
  top: 15px;
  right: 15px;
  bottom: 15px;
  border: 3px double rgba(255, 255, 255, 0.4);
  transition: opacity 0.2s ease-in;
}
.card:hover {
  color: #fff;
}
.card:hover::after {
  opacity: 1;
}

.card__img {
  position: relative;
  z-index: 5;
  transition: all 0.2s ease-in;
}

.card:hover .card__img {
  transform: scale(1.1);
  filter: contrast(110%) brightness(1.2) saturate(1.2);
}

.card__title {
  z-index: 8;
  position: absolute;
  left: 50px;
  right: 50px;
  bottom: 44px;
  font-size: 24px;
  font-family: "Raleway", sans-serif;
}
@media screen and (max-width: 999px) {
  .card__title {
    font-size: 20px;
    left: 30px;
    bottom: 30px;
  }
}

.cta {
  padding: 180px 0;
  background: linear-gradient(180deg, #242b33 10.42%, rgba(36, 43, 51, 0) 50.52%, #242b33 90.1%), linear-gradient(0deg, rgba(36, 43, 51, 0.9) 0%, rgba(36, 43, 51, 0.9) 100%), url(./../../img/cta/cta-bg.jpg), #c4c4c4;
}
@media screen and (max-width: 999px) {
  .cta {
    padding: 60px 0;
  }
}

.cta__title {
  margin-bottom: 17px;
}

.cta__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}
@media screen and (max-width: 999px) {
  .cta__wrapper {
    grid-template-columns: 1fr;
  }
}

.cta__text {
  line-height: 1.5;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
}
@media screen and (max-width: 999px) {
  .cta__text {
    font-size: 14px;
  }
}

.cta__form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px 35px;
}
@media screen and (max-width: 999px) {
  .cta__form {
    grid-template-columns: 1fr;
  }
}

.form__input {
  height: 50px;
  padding: 12px;
  background-color: rgba(255, 255, 255, 0.2);
  text-align: center;
  color: "Playfair Display", serif;
  font-size: 14px;
  font-family: "Raleway", sans-serif;
  transition: background-color 0.2s ease-in;
}
.form__input::-moz-placeholder {
  color: #bebebe;
}
.form__input::placeholder {
  color: #bebebe;
}
.form__input:focus {
  background-color: rgba(255, 255, 255, 0.3);
}

.form__privacy {
  width: 255px;
  color: #e7e7e7;
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-size: 13px;
  line-height: 16px; /* 123.077% */
}
@media screen and (max-width: 999px) {
  .form__privacy {
    grid-row: 4/5;
    margin: 0 auto;
  }
}

.form__btn {
  padding: 12px;
  font-size: 16px;
  color: #fff;
  text-align: center;
  background-color: #d4c17f;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  line-height: 27px; /* 168.75% */
  transition: background-color 0.2s ease-in;
}
.form__btn:hover {
  background-color: #ddc676;
}

.video {
  position: relative;
  overflow: hidden;
}
.video::after {
  content: "IV";
  left: calc(50% + 555px);
  transform: translate(-50%, 0%);
  line-height: 1.15;
  opacity: 0.02;
  position: absolute;
  top: 0;
  opacity: 0.02;
  font-size: 400px;
  font-family: "Playfair Display", serif;
  z-index: -1;
}

.video__link {
  position: relative;
  display: block;
  text-align: center;
}
.video__link::before {
  content: "";
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background: rgba(36, 43, 51, 0.8) 0%;
  transition: background-color 0.2s ease-in;
}
.video__link:hover::before {
  background: rgba(36, 43, 51, 0.7) 0%;
}

.video__icon {
  position: absolute;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.2s ease-in;
}
@media screen and (max-width: 999px) {
  .video__icon {
    width: 70px;
    height: 70px;
  }
}

.video__link:hover .video__icon {
  transform: translate(-50%, -50%) scale(1.2);
  filter: saturate(1.5);
}

.section-map {
  padding: 180px 0;
  position: relative;
}
.section-map::before {
  content: "V";
  right: calc(50% + 290px);
  transform: translate(-50%, 0%);
  line-height: 1.9;
  position: absolute;
  top: 0;
  opacity: 0.02;
  font-size: 400px;
  font-family: "Playfair Display", serif;
  z-index: -1;
}
@media screen and (max-width: 999px) {
  .section-map {
    padding: 90px 0;
  }
}

.section__map {
  margin-bottom: 88px;
}
@media screen and (max-width: 999px) {
  .section__map {
    margin-bottom: 44px;
  }
}

.map {
  height: 358px;
  background: #626262;
}
iframe {
  width: 100%;
  height: 100vh;
  filter: invert(100%);
}

.feedback__form {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  align-items: center;
}
@media screen and (max-width: 999px) {
  .feedback__form {
    grid-template-columns: 1fr;
  }
}

.feedback__title {
  margin-bottom: 38px;
}
@media screen and (max-width: 999px) {
  .feedback__title {
    margin-bottom: 19px;
  }
}

.feedback {
  margin-bottom: 191px;
}
@media screen and (max-width: 999px) {
  .feedback {
    padding: 0px;
  }
}

.footer {
  padding-top: 72px;
  padding-bottom: 51px;
  background-color: #2d343c;
  font-size: 14px;
  letter-spacing: 0.7px;
}
@media screen and (max-width: 999px) {
  .footer {
    padding-top: 36px;
    padding-bottom: 25px;
  }
}

.footer__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}
@media screen and (max-width: 999px) {
  .footer__grid {
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
    gap: 40px 30px;
  }
}

.footer__logo {
  margin-top: -12px;
}

.footer__nav {
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.7px;
  color: #fff;
}

.footer__address {
  display: grid;
  gap: 20px;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.7px;
  color: #fff;
}

.footer-nav__list {
  display: grid;
  gap: 15px;
}

.footer__social {
  display: flex;
  -moz-column-gap: 22px;
       column-gap: 22px;
  align-items: center;
}

/* Nav Icon */
.nav-icon-btn {
  --time: 0.1s;
  --width: 40px;
  --height: 30px;
  --line-height: 1px;
  --line-margin: 2;
  --color: #fff;
  height: var(--height);
  width: var(--width);
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-icon {
  position: relative;
  width: var(--width);
  height: var(--line-height);
  background-color: var(--color);
}

.nav-icon::before,
.nav-icon::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  width: var(--width);
  height: var(--line-height);
  background-color: var(--color);
  transition: transform var(--time) ease-in, top var(--time) linear var(--time);
}

.nav-icon::before {
  top: calc(var(--line-height) * -8);
}

.nav-icon::after {
  top: calc(var(--line-height) * 8);
}

.nav-icon.nav-icon--active {
  background-color: transparent;
}

.nav-icon.nav-icon--active::before,
.nav-icon.nav-icon--active::after {
  top: 0;
  transition: top var(--time) linear, transform var(--time) ease-in var(--time);
}

.nav-icon.nav-icon--active::before {
  transform: rotate(45deg);
}

.nav-icon.nav-icon--active::after {
  transform: rotate(-45deg);
}/*# sourceMappingURL=main.css.map */