/*font-family: 'Playfair Display', serif;
font-family: 'Raleway', sans-serif;             
font-family: 'Roboto', sans-serif;*/

//fonts
$font-main: "Raleway", sans-serif;
$font-accent: "Playfair Display", serif;
$font-roboto: "Roboto", sans-serif;
//  колір
$dark: #242b33; //фоновий
$accent: #d4c17f; //акцентний,тобто тільки на заголовках
$text-white: #fff; //текст
$footer-bg: #2d343c;
$placeholder: #bebebe;
$gray: #e7e7e7;

//Media
$tablet: 999px;

// Mark